
.app-container {
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 16px;
  border: 2px solid #3490dc; 
  border-radius: 8px;
  background-color: #f0f7ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #3490dc;
  text-align: center;  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-button {
  padding: 8px 16px;
  background-color: #3490dc;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cart-button:hover {
  background-color: #2779bd;
}

.cart-container {
  padding: 16px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e2e8f0;
}

.cart-item-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 16px;
}

.summary {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pay-button,
.cancel-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  text-align: center;
  margin-top: 8px;
}

.pay-button {
  background-color: #38a169;
}

.cancel-button {
  background-color: #718096;
}

.product-table {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%; 
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.add-to-cart-button {
  width: 100%;
  padding: 8px;
  background-color: #3490dc;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  margin-top: auto; 
}

.add-to-cart-button:hover {
  background-color: #2779bd;
}
